<main>
    <section class='search'>
        <app-search></app-search>
    </section>

    <section class="posts">
        <app-post-thumbnail 
        *ngFor='let item of items' 
        [postImg]='"assets/images/temp/temp1.jpg"'
        [postTitle] = "'Post title 1: how to maeke blog'"
        [postDesc] = "'Damn blogs are actually so easy to make, wtf are you talkien about bruv'"
        (mouseenter)='blur = true' 
        (mouseleave)='blur = false'>

        </app-post-thumbnail>
    </section>

    <div class="posts-blur" [ngClass]="blur ? 'active':'naah'">

    </div>


</main>