main{
    position: relative;  
    scroll-snap-type: y mandatory;
    color: white;
    &::-webkit-scrollbar-track
    {
    
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #252525;
        
    }
    
    &::-webkit-scrollbar
    {
    
        width: 12px;
        background-color: black;
    }
    
    &::-webkit-scrollbar-thumb
    {
    
        border-radius: 2px;
        background-color: black;
        max-height: 30vh;
    }
}


section{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 20vh;
    scroll-snap-align: center;

}

.introduction{

    .background-triangles{
      position: absolute;
      width: 70%;
      height: 80%;
      left: 15%;
      top: 10%;

      .triangle{
        position: absolute;
        --t:5px;  /* Thickness */
        --c:#00ffea; /* Color */
        opacity: 0.5;
      
        width:100%;
        height:100%;
        display:inline-block;
        transform: rotate(180deg);
        
        background:
          /* Left side */
          linear-gradient(to bottom left,
            transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
            transparent calc(50% + var(--t) + 1px)) right/50% 100%,
          /* right side */
          linear-gradient(to bottom right,
            transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
            transparent calc(50% + var(--t) + 1px)) left/50% 100%,
          /* bottom side*/
          linear-gradient(var(--c),var(--c)) bottom/calc(100% - 2*var(--t)) var(--t);
        background-repeat:no-repeat;

        &:nth-of-type(2){
          animation: triangle2 forwards ease 1s;
        }

        &:nth-of-type(3){
          animation: triangle3 forwards ease 1s;
        }
      }
    }

    @keyframes triangle2 {
      0%{
        top: 0;
      } 100% {
        top: 25px;
      }
    }

    @keyframes triangle3 {
      0%{
        top: 0;
      } 100% {
        top: 50px;
      }
    }

    .name{
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%,-50%);
      font-size: 10rem;
      font-weight: 700;
      color: cyan;

      &::before{
        position: absolute;
        content: 'TODO';
        top: 10px;
        left: 10px;
        font-size: 10rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
      }
    }

    .search{
        position: absolute;
        top: 80%;
        left: 50%;


        transform: translate(-50%, -50%);

        input{
            width: calc(14vw + 6rem);
            padding: 1rem 2rem;
            font-size: 1.3rem; 
            background-color: white;
            border: none;
            border-radius: 1.5rem;
            box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.075);
        }

        img{
            position: absolute;
            width: 1.3rem;
            height: 1.3rem;
            right: 2rem;
            top: 50%;
            transform: translate(50%, -50%);
            
        }
    }

}


.featured-posts{
    display: flex;
    flex-direction: row;

    .description{
        position: relative;
        width: 50%;
        height: 100%;
        padding: calc(15vh) calc(5vw + 2rem);

        *{
            margin-bottom: 1rem;
        }

        .picker{
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            *{ margin: 0.5rem 1.5rem; }

            button{
                border: none;
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;

                img{
                    width: 1rem;
                    height: 1rem;
                }

                &.prev img{
                    transform: rotate(180deg);
                }
            }

            span{
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: white;
                border: 2px solid black;
            }
        }

        app-button{
          width: 10rem;
          height: 2rem;
        }

        h1{
            padding-bottom: 3rem;
        }
        p{
            width: 100%;
            padding-bottom: 5rem;
        }

        .background{
            position: absolute;
            left: 5vw;
            top: 8vh;
            color: rgba(0, 0, 0, 0.027);
            font-size: 16rem;
            pointer-events: none;
        }
    }

    perspective: 1200px;
    transform-style: preserve-3d; 

    .content-preview-bg{
        position: absolute;
        right: 0%;
        top: 0%;
        width: 50%;
        height: 100%;
        // background: linear-gradient(70deg, rgba(143,53,86,1) 2%, rgba(208,45,108,1) 32%, rgb(226, 204, 214) 100%);
        clip-path: polygon(0 50%, 100% 100%, 100% 0);  
        backdrop-filter: invert(10%);
        background: rgb(46, 46, 46);
        transform: rotate3d(10deg, 10deg, 10deg);
        
        .content-preview{
            position: absolute;
            width: 80%;
            height: 98%;
            right: 0;
            top: 1%;
            background-color: white;
            clip-path: polygon(0 50%, 100% 100%, 100% 0);
            transition: 0.6s ease;
    
            img{
                position: relative;
                height: 100%;
                transition: 1.3s ease;
    
                &:hover{
                    height: 110%;
                }
            }
    
            &:hover{
                width: 96%;
            }
        }

    }

}

.categories{

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    .book {
        transform-style: preserve-3d;
        position: relative;
        height: 300px;
        cursor: pointer;
        backface-visibility: visible;

        .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
            transform-style: preserve-3d;
            position: absolute;
            width: 200px;
            height: 100%;
            top: 0; left: 0;
            transform-origin: left center;
            transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
            clip-path: polygon(0 100%, 100% 50%, 0 0);
          }
          
          .front, .back {
            background: navy;
          }
          
          .front, .page1, .page3, .page5 {
            border-bottom-right-radius: .5em;
            border-top-right-radius: .5em;
          }
          
          .back, .page2, .page4, .page6 {
            border-bottom-right-radius: .5em;
            border-top-right-radius: .5em;
          }
          
          .page1 { 
            background: #efefef;
          }
          
          .page2 {
            background: #efefef;
          }
          
          .page3 {
            background: #f5f5f5;
          }
          
          .page4 {
            background: #f5f5f5;
          }
          
          .page5 {
            background: #fafafa;
          }
          
          .page6 {
            background: #fdfdfd;
          }
          
          
          &:hover .page1 {
            transform: rotateY(-150deg) scale(1.1);
          }
          
          &:hover .page2 {
            transform: rotateY(-30deg) scale(1.1);
          }
          
          &:hover .page3 {
            transform: rotateY(-140deg) scale(1.1);
          }
          
          &:hover .page4 {
            transform: rotateY(-40deg) scale(1.1);
          }
          
          &:hover .page5 {
            transform: rotateY(-130deg) scale(1.1);
          }
          
          &:hover .page6 {
            transform: rotateY(-50deg) scale(1.1);
          }
          
    
    }


}
