<main>
    <section class="introduction">
        <div class="logo">

        </div>
        <div class="name-card">
            <div class="name-card-bg">

            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="Search...">
            <img src="assets/icons/search.svg" alt="search">
        </div>
    </section>
    <section class="featured-posts">
        <div class="description">
            <div class="picker">
                <button class='prev'>
                    <img src="assets/icons/arrow.svg" alt="">
                </button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button class='next'>
                    <img src="assets/icons/arrow.svg" alt="">
                </button>
            </div>
            <h1>Title</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, rem quidem. Optio ipsum ducimus, aliquam quasi harum qui fugit adipisci consectetur debitis sit necessitatibus expedita nisi accusamus magni autem tempore.</p>
            <app-button [text]='"Get more!"'></app-button>
            <div class="background">
                Title
            </div>
        </div>
        <div class="content-preview-bg">
            <div class="content-preview">
                <img src="assets/images/temp/temp1.jpg" alt="">
            </div>
        </div>

        
    </section>
    <section class="categories">
        <div class="book">
            <div class="page6"></div>
            <div class="page5"></div>
            <div class="page4"></div>
            <div class="page3"></div>
            <div class="page2"></div>
            <div class="page1"></div>            
        </div>

    </section>
</main>