<main>
    <section class="introduction">
        <div class="logo">

        </div>
        <div class="name-card">
            <div class="name-card-bg">

            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="search...">
            <img src="assets/icons/search.svg" alt="search">
        </div>
    </section>
    <section class="featured-posts">
        <div class="description">
            <div class="picker"></div>
            <p></p>
            <button></button>
        </div>
        <div class="content-preview-bg">
            <div class="content-preview">
                <img src="assets/images/temp/temp1.jpg" alt="">
            </div>
        </div>

        
    </section>
</main>