<main>

    <!--    <h1 class="title">Search</h1>
 -->
    <div class="background">
        <div class="stripe a"></div>
        <div class="stripe b"></div>
        <div class="stripe c"></div>
        <div class="stripe d"></div>
        <div class="stripe e"></div>
        <div class="stripe f"></div>
        <div class="stripe g"></div>
    </div>
    <section class='section-one'>
        <!--
           <div class="section-title">Title</div> 
        -->
        
        <div class='name'>
            <app-input 
            [label]="'Name'" 
            [placeholder]="'Name'" 
            [(inputModel)]="options.name" 
            [type]="'text'"
            [darkMode]='false'></app-input>
        </div>
    </section>
    <section class='section-two'>
        <div class="section-title">Type</div>
        
        <div class="types">
            <button class="type" *ngFor='let type of eventTypes' (click)='pickType(type)' [ngClass]="(chosenType === type?'active':'naah')">
                <div>{{type}}</div>
            </button>
        </div>
               
    </section>

    <section class='section-three'>
        <div class="section-title">Tags</div>
        <div class="tags">
            <button class="tag" *ngFor='let tag of eventTags' (click)='pickTag(tag)' [ngClass]="(chosenTags.includes(tag)?'active':'naah')">
                <div>{{tag}}</div>
            </button>
        </div>

    </section>
    <!--
    <section>
        <div class="section-title">Time</div>
        <div class="date">
            <div class="date-wrap">
                <app-input 
                [label]="'From'" 
                [placeholder]="'From'" 
                [(inputModel)]="options.dateMin" 
                [type]="'datetime-local'"
                [darkMode]='false'></app-input>
                <app-input 
                [label]="'To'" 
                [placeholder]="'To'" 
                [(inputModel)]="options.dateMax" 
                [type]="'datetime-local'"
                [darkMode]='false'></app-input>
            </div>
        </div>
    </section>        
    -->

    <section>
        <div class='buttons'>
            
            <!--
            <button class='redo-button' (click)='resetSearchOptions()'><div></div> <img src="assets/icons/send.svg" alt=""></button>                 

            -->
            
       
        </div>
    </section>

    <button class='search-button' (click)='search()'>
        <div>Search </div> 
        <img src="assets/icons/search.svg" alt="">
    </button>

</main>